@model WebsiteWork.Models.Cv

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cv</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cv_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_bird)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_bird)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_linkfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_linkfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_target)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_target)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_datebegineducation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_datebegineducation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_dateendeducation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_dateendeducation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_contenteducation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_contenteducation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_datebeginexp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_datebeginexp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_dateendexp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_dateendexp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_contentexp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_contentexp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_datebeginexptwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_datebeginexptwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_dateendexptwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_dateendexptwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_contentexptwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_contentexptwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_datebeginactivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_datebeginactivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_dateendactivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_dateendactivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_contentactivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_contentactivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_contentcertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_contentcertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_contentreward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_contentreward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_english)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_english)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_IT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_IT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_numbertheme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_numbertheme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_yearre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_yearre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_yearcerti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_yearcerti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_schools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_schools)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_industrystory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_industrystory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_roleexp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_roleexp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_roleexptwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_roleexptwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_option)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_option)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv_datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv_datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_login)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
