@model IEnumerable<WebsiteWork.Models.Cv>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cv_fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_bird)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_linkfc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_datebegineducation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_dateendeducation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_contenteducation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_datebeginexp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_dateendexp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_contentexp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_datebeginexptwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_dateendexptwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_contentexptwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_datebeginactivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_dateendactivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_contentactivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_contentcertificate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_contentreward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_english)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_IT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_numbertheme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_yearre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_yearcerti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_schools)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_industrystory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_roleexp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_roleexptwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_activate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_option)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cv_datecreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cv_fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_bird)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_linkfc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_datebegineducation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_dateendeducation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_contenteducation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_datebeginexp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_dateendexp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_contentexp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_datebeginexptwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_dateendexptwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_contentexptwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_datebeginactivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_dateendactivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_contentactivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_contentcertificate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_contentreward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_english)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_IT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_numbertheme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_yearre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_yearcerti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_schools)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_industrystory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_roleexp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_roleexptwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_activate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_option)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cv_datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cv_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cv_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cv_id })
        </td>
    </tr>
}

</table>
