@model WebsiteWork.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_nicename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_nicename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_datelogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_datelogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_industryloving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_industryloving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_skill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_skill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_interests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_view)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_view)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career.career_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career.career_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
