@using WebsiteWork.Models
@{
    User user = (User)Session["user"];
    ViewBag.Title = "Cvone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String haha = "@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?.)";
}
<div class="w3l-index-block1" ng-app="">
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center py-md-5 py-3">
                <nav class="sticky-top bg-white w-100" style="z-index: 100000 !important; height: 70px;">
                    <div class="">
                        <div class="" id="main_nav">
                            <div class="row">
                                <div class="col-lg-2 col-sm-6">
                                    <b class="text-primary" style="margin-left: 30px">Ngôn ngữ</b>
                                    <center class="ml-4">
                                        <img alt="Image placeholder" src="~/Content/UI/UIImages/images/vn.jpg" style="width: 40px;float: left" class="border border-success">
                                        <img alt="Image placeholder" src="~/Content/UI/UIImages/images/my.jpg" style="width: 40px;float: left; margin-left: 5px">
                                    </center>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <b class="text-primary">Font chữ</b>
                                    <select class="form-control" style="height: 30px; font-size: 12px;">
                                        <option>Arial</option>
                                        <option>Arial</option>
                                        <option>Arial</option>
                                    </select>
                                </div>
                                <style>
                                    .nav-pills-circle .nav-link {
                                        line-height: 35px;
                                    }
                                </style>
                                <div class="col-lg-2 col-sm-6">
                                    <b class="text-primary">Kích thước chữ</b>
                                    <ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true" style="width: 35px; height: 35px;font-size: 8px;">
                                                A
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true" style="width: 35px; height: 35px; font-size: 12px;">
                                                A
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true" style="width: 35px; height: 35px; font-size: 15px;">
                                                A
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <b class="text-primary">Cách dòng</b>
                                    <ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true" style="width: 35px; height: 35px;font-size: 8px;">
                                                <i class="fas fa-arrows-alt-v"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true" style="width: 35px; height: 35px; font-size: 12px;">
                                                <i class="fas fa-arrows-alt-v"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true" style="width: 35px; height: 35px; font-size: 15px;">
                                                <i class="fas fa-arrows-alt-v"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <b class="text-primary">Giới thiệu</b>
                                    <div><b>Tên cv:</b> Mẫu CV cơ bản</div>
                                    <div><b>Số người đã sử dụng:</b> 0</div>
                                </div>
                            </div>
                        </div> <!-- navbar-collapse.// -->
                    </div><!-- container //  -->
                </nav>

                <section class="section-content py-5">
                    <!--Kiểm tra cv-->
                    <script>
                        function valicv() {
                            // Bước 1: Lấy giá trị của username và password
                            var cv_fullname = document.getElementById('cv_fullname').value;
                            var cv_linkfc = document.getElementById('cv_linkfc').value;
                            var cv_phone = document.getElementById('cv_phone').value;
                            var cv_email = document.getElementById('cv_email').value;
                            var cv_fullname = document.getElementById('cv_fullname').value;
                            var cv_location = document.getElementById('cv_location').value;
                            //Chuoi null
                            //Bieu thuc chinh qui
                            var linkfc = /(?:http:\/\/)?(?:www\.)?facebook\.com\/(?:(?:\w)*#!\/)?(?:pages\/)?(?:[\w\-]*\/)*([\w\-]*)/;
                            var phone = /^(0|\+84)(\s|\.)?((3[2-9])|(5[689])|(7[06-9])|(8[1-689])|(9[0-46-9]))(\d)(\s|\.)?(\d{3})(\s|\.)?(\d{3})$/i;
                            var email = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@haha+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/i;
                            var fullname = /^[a-zA-Z][0-9a-zA-Z .,'-]*$/;
                            var location = /^[^0-9()]+$/;
                            // Bước 2: Kiểm tra dữ liệu hợp lệ hay không

                            if(fullname.test(cv_fullname) == false) {
                                if (cv_fullname != '') {
                                    document.getElementById("testfullname").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fas fa-exclamation-circle">&nbsp;</i>Tên nên viết hoa chữ cái đầu của tên lót,tên chính. Tên không có số và ký tự (vd: Huỳnh Minh Tấn)</b>';
                                    document.getElementById("testphone").innerHTML = '';
                                    document.getElementById("testemail").innerHTML = '';
                                    document.getElementById("testlocation").innerHTML = '';
                                }
                                else {
                                    document.getElementById("testfullname").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fa fa-window-close">&nbsp;</i>Tên là bắt buộc. Tên là thành phần quan trọng để cho hồ sơ bạn hoàn hảo hơn.</b>';
                                    document.getElementById("testphone").innerHTML = '';
                                    document.getElementById("testemail").innerHTML = '';
                                    document.getElementById("testlocation").innerHTML = '';
                                }
                            }
                            else if (location.test(cv_location) == false) {
                                if (cv_location != '') {
                                    document.getElementById("testlocation").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fas fa-exclamation-circle">&nbsp;</i>Vị trí ứng tuyển không thể có số. Nên ghi rõ ra vị trí mình cần làm ở công việc đó. (vd: Fontend website,backend website,...)</b>';
                                    document.getElementById("testphone").innerHTML = '';
                                    document.getElementById("testemail").innerHTML = '';
                                    document.getElementById("testfullname").innerHTML = '';
;
                                }
                                else {
                                    document.getElementById("testlocation").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fas fa-exclamation-circle">&nbsp;</i>Vị trí không để trống, vị trí là vai trò quan trọng mà NTD muốn bạn đang muốn làm gì.</b>';
                                    document.getElementById("testphone").innerHTML = '';
                                    document.getElementById("testemail").innerHTML = '';
                                    document.getElementById("testfullname").innerHTML = '';
                                }
                            }
                            else if (linkfc.test(cv_linkfc) == false) {
                                if (cv_linkfc != '') {
                                    document.getElementById("testlinkfc").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fas fa-exclamation-circle">&nbsp</i>Link facebook của bạn không hợp lệ.Có thể bỏ trống</b>';
                                }
                            }
                            else if (phone.test(cv_phone) == false) {
                                if (cv_phone != '') {
                                    document.getElementById("testphone").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fas fa-exclamation-circle">&nbsp;</i>Số điện thoại bạn nhập không hợp lệ.Số điện thoại phải đúng (vd: 0924404019,+84924404019)</b>';
                                    document.getElementById("testemail").innerHTML = '';
                                    document.getElementById("testfullname").innerHTML = '';
                                    document.getElementById("testlocation").innerHTML = '';
                                }
                                else {
                                    document.getElementById("testphone").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fa fa-window-close">&nbsp;</i>Số điện thoại là bắt buộc. NTD dựa vào số điện thoại của bạn để liên hệ, nên khai báo đúng.</b>';
                                    document.getElementById("testemail").innerHTML = '';
                                    document.getElementById("testfullname").innerHTML = '';
                                    document.getElementById("testlocation").innerHTML = '';
                                }
                            }
                            else if (email.test(cv_email) == false) {
                                if (cv_email != '') {
                                    document.getElementById("testemail").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fas fa-exclamation-circle">&nbsp;</i>Email bạn nhập không hợp lệ. Email nên chứa tên bạn (vd: huynhminhtan4019@gmail.com)</b>';
                                    document.getElementById("testphone").innerHTML = '';
                                    document.getElementById("testfullname").innerHTML = '';
                                    document.getElementById("testlocation").innerHTML = '';
                                }
                                else {
                                    document.getElementById("testemail").innerHTML = '<b class="text-danger" style="font-size: 12px;"><i class="fa fa-window-close">&nbsp;</i>Email là bắt buộc. NTD dựa vào Email của bạn để liên hệ, nên khai báo đúng (Tốt nhất là email có họ và tên).</b>';
                                    document.getElementById("testphone").innerHTML = '';
                                    document.getElementById("testfullname").innerHTML = '';
                                    document.getElementById("testlocation").innerHTML = '';
                                }
                            }
                            else {
                                return true;
                            }
                            return false;
                        }
                    </script>
                    <script src="~/Views/Account/form.js"></script>
                    <form action="@Url.Action("CreateCv","CVUser")" method="post" onsubmit="return valicv()">
                        <input type="hidden" value="1" name="cv_numbertheme" />
                        <input type="hidden" value="@user.user_id" name="user_id" />
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <img src="~/Images/Cv/32644928_2062295167425734_7686714948314988544_o.jpg" class="container" style="height: 200px" />
                                            </div>
                                            <div class="col-lg-8 w-100" ng-click="fullname = '1.Ghi rõ ràng họ tên (Viết hoa chữ cái đầu).';jobposition = '2.Vị trí công việc ứng tuyển như kế toán,lập trình, backend,.vvv';dateofbirth = '3.Ghi rõ ngày,tháng, năm sinh đúng. Nếu không muốn thì để trống.';phone = '4.Bắt buộc phải có SĐT. Nhà tuyển dụng sẽ thông qua số này để liên hệ bạn.';email = '5.Bắt buộc phải có Email. Nhà tuyển dụng sẽ thông qua email này để liên hệ bạn.';address = '6.Ghi rõ địa chỉ, nơi ở của bạn để NTD hiểu rõ về nơi bạn sinh sống.';fc = '7.Nên ghi trang cá nhân facebook, copy đường link dẫn đến trang fb chính của mình, NTD có thể xem thông tin về bạn.'; info = 'Thông tin cá nhân';sex = '8.Chọn rõ giới tính của bạn để NTD có thể nhìn rõ về bạn.'">
                                                <h2><input type="text" placeholder="Họ và tên" value="Huỳnh Minh A" style="border: 0px solid black" name="cv_fullname" id="cv_fullname"></h2><div id="testfullname"></div>
                                                <div id="testfullname"></div>
                                                <p><input placeholder="Vị trí ứng tuyển" style="border: 0px solid black" name="cv_location" id="cv_location" /><div id="testlocation"></div></p>
                                                <ul>
                                                    <li><b>Ngày sinh:</b><input type="date" style="border: 0px solid black" name="cv_bird" /></li>
                                                    <li>
                                                        <b>Giới tính:</b>
                                                        <select style="border: 0px solid black" name="cv_sex">
                                                            <option value="1">Nam</option>
                                                            <option value="2">Nữ</option>
                                                            <option value="0">Khác</option>
                                                        </select>
                                                    </li>
                                                    <li><b>Điện thoại:</b> <input type="text" placeholder="Số điện thoại (*bắt buộc)" style="border: 1px dashed red" name="cv_phone" id="cv_phone" maxlength="15" /><div id="testphone"></div></li>
                                                    <li class="mt-1"><b>Email:</b> <input type="text" value="@user.user_email" placeholder="Email (*bắt buộc)" style="border: 1px dashed red; width: 300px" name="cv_email" id="cv_email" maxlength="60" /><div id="testemail"></div></li>
                                                    <li><b>Địa chỉ:</b> <input type="text" style="border: 0px solid black" value="25/5 phường Hiệp An" placeholder="Địa chỉ" name="cv_address" /></li>
                                                    <li><b>Link facebook: </b><input style="border: 0px solid black;" class="text-primary w-100" value="https://www.facebook.com/profile.php?id=10000935812525" placeholder="Link cá nhân facebook" name="cv_linkfc" id="cv_linkfc" /><div><div id="testlinkfc"></div></div></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-12">
                                                <div ng-click="fullname = '';jobposition = '';dateofbirth = '';phone = '';email = '';address = '';fc = '';sex = ''; info = 'Mục tiêu nghề nghiệp';contentyes = 'Nên';yes = '1.Nêu vị trí mong muốn ứng tuyển.'; yes2 = '2.Nên ghi mục tiêu công việc cần đạt, lên 1 vị trí mong muốn.';yes3 = '3.Thể hiện kỹ năng,kiến thức, trình độ của trong công việc.';contentno = 'Không nên';no = '1.Không ghi chung chung mún làm việc trong môi trường năng động.';no2='2.Lời văn quá nhiều nhưng không hiểu vấn đề.'">
                                                    <h4 style="border-bottom: 1px solid #172b4d" class="mt-3">Mục tiêu nghề nghiệp</h4>
                                                    <p class="mt-3">
                                                        <textarea name="cv_target" class="w-100" style="border: 0px solid black; height: 100px" placeholder="Mục tiêu nghề nghiệp">Áp dụng những kinh nghiệm về kỹ năng bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên bán hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó giúp Công ty tăng số lượng khách hàng và mở rộng tập khách hàng.</textarea>
                                                    </p>
                                                    <br />
                                                </div>
                                                <div ng-click="fullname = '';jobposition = '';dateofbirth = '';phone = '';email = '';address = '';fc = '';sex = ''; info = 'Học vấn';contentyes = 'Nên';yes = '1.Chuyên nghành liên quan đến công việc.'; yes2 = '2.Tốt nhất là trường đại học, nếu không thì hãy ghi những trường mình học tốt nhất.';yes3 = '3.Điểm nên trung thực cùng với bằng loại.';contentno = 'Không nên';no = '1.Không nêu các trình độ từ cấp 2,1.';no1='2.Không tự chế điểm, loại và trường học.'">
                                                    <h4 style="border-bottom: 1px solid #172b4d" class="mt-3">Học vấn</h4>
                                                    <p class="mt-3">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <input type="date" style="border: 0px solid black" name="cv_datebegineducation" />
                                                                <input type="date" style="border: 0px solid black" name="cv_dateendeducation" />
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <b><input type="text" value="Đại học AllWork1s" name="cv_schools" placeholder="Tên trường học" style="border: 0px solid black; font-weight: bold" class="w-100" /></b>
                                                                <div>Chuyên nghành: <input type="text" name="cv_industrystory" value="CNTT" placeholder="Chuyên nghành" style="border: 0px solid black;" /></div>
                                                                <div>
                                                                    Tốt nghiệp loại <select style="border: 0px solid black;" class="text-danger" name="cv_species">
                                                                        <option value="1">Trung bình</option>
                                                                        <option value="2">Khá</option>
                                                                        <option value="3">Giỏi</option>
                                                                    </select> - Điểm trung bình <input value="7.0" placeholder="Điểm" name="cv_point" style="border: 0px solid black; width: 50px" class="text-danger" />
                                                                </div>
                                                                <textarea name="cv_contenteducation" class="w-100" style="border: 0px solid black; height: 100px" placeholder="Nội dung học vấn">Hoàn thành rất tốt học tập tại trường và điểm rất cao môn website.</textarea>
                                                            </div>
                                                        </div>
                                                    </p>
                                                    <br />
                                                </div>
                                                <div ng-click="fullname = '';jobposition = '';dateofbirth = '';phone = '';email = '';address = '';fc = '';sex = ''; info = 'Kinh nghiệm việc làm';contentyes = 'Nên';yes = '1.Nêu đúng thời gian vào và ra ở 1 công ty tâm đắc nhất.'; yes2 = '2.Nêu vai trò đã làm tại công ty,nếu là sinh viên, part time thì ghi rõ ra là parttime,thực tập sinh.';yes3 = '3.Phần mô tả nêu đầy đủ các quá trình mình đã làm cho công ty, công việc làm tốt nhất.';yes4 = '4.Nếu chưa có kinh nghiệm bạn hãy ghi ra các phần như làm tình nguyện viên, những điều mà bạn có thể học hỏi.';contentno = 'Không nên';no = '1.Các công việc nhỏ hơn 6 tháng. Trừ thực tập sinh';no1='2.Mô tả dài dòng, nêu các công việc nhỏ nhặt như in giấy,....'">
                                                    <h4 style="border-bottom: 1px solid #172b4d" class="mt-3">Kinh nghiệm việc làm</h4>
                                                    <p class="mt-3">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <input type="date" style="border: 0px solid black" name="cv_datebeginexp" />
                                                                <input type="date" style="border: 0px solid black" name="cv_dateendexp" />
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <b><input type="text" value="Công ty AllWork1s" placeholder="Tên công ty" style="border: 0px solid black; font-weight: bold" class="w-100" /></b>
                                                                <div><input type="text" name="cv_roleexp" value="Coder" placeholder="Vai trò" style="border: 0px solid black;" /></div>
                                                                <div>
                                                                    <textarea name="cv_contentexp" class="w-100" style="border: 0px solid black; height: 100px" placeholder="Mục tiêu nghề nghiệp">- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,...- Giới thiệu, tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng qua điện thoại và email.
                                                                </textarea>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4">
                                                                <input type="date" style="border: 0px solid black" name="cv_datebeginexptwo" />
                                                                <input type="date" style="border: 0px solid black" name="cv_dateendexptwo" />
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <b><input type="text" value="Công ty AllWork1s" placeholder="Tên công ty" style="border: 0px solid black; font-weight: bold" class="w-100" /></b>
                                                                <div><input type="text" name="cv_roleexptwo" value="Coder" placeholder="Vai trò" style="border: 0px solid black;" /></div>
                                                                <div>
                                                                    <textarea name="cv_contentexptwo" class="w-100" style="border: 0px solid black; height: 100px" placeholder="Mô tả công việc">- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,...- Giới thiệu, tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng qua điện thoại và email.
                                                                </textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </p>
                                                    <br />
                                                </div>
                                                <h4 style="border-bottom: 1px solid #172b4d" class="mt-3">Hoạt động</h4>
                                                <div class="row mt-3" ng-click="fullname = '';jobposition = '';dateofbirth = '';phone = '';email = '';address = '';fc = '';sex = ''; info = 'Hoạt động';contentyes = 'Nên';yes = '1.Liệt kêt các họat động nếu có.'; yes2 = '2.Nếu không có, có thể bỏ trống nhưng nếu có cơ hội nhận hồ sơ rất cao.';yes3 = '3.Nên là các hoạt động tình nguyện viên.';yes4 = '4.Nêu rõ đã làm được gì khi đi hoạt động.';contentno = 'Không nên';no = '1.Chế quá nhiều hoạt động.';no1='2.Mô tả dài dòng'">
                                                    <div class="col-lg-4">
                                                        <input type="date" style="border: 0px solid black" name="cv_datebeginactivate" />
                                                        <input type="date" style="border: 0px solid black" name="cv_dateendactivate" />
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <b><input type="text" value="Làm tình nguyện viên" placeholder="Tên hoạt động" style="border: 0px solid black; font-weight: bold" class="w-100" /></b>
                                                        <div>
                                                            <textarea name="cv_contentactivate" class="w-100" style="border: 0px solid black; height: 100px" placeholder="Mô tả hoạt động">-Tập hợp các món quà và phân phát tới người vô gia cư.- Chia sẻ, động viên họ vượt qua giai đoạn khó khăn, giúp họ có những suy nghĩ lạc quan.
                                                        </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="date" style="border: 0px solid black" />
                                                        <input type="date" style="border: 0px solid black" />
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <b><input type="text" value="Làm tình nguyện viên" placeholder="Tên hoạt động" style="border: 0px solid black; font-weight: bold" class="w-100" /></b>
                                                        <div>
                                                            <textarea class="w-100" style="border: 0px solid black; height: 100px" placeholder="Mô tả hoạt động">-Tập hợp các món quà và phân phát tới người vô gia cư.- Chia sẻ, động viên họ vượt qua giai đoạn khó khăn, giúp họ có những suy nghĩ lạc quan.
                                                        </textarea>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div ng-click="fullname = '';jobposition = '';dateofbirth = '';phone = '';email = '';address = '';fc = '';sex = ''; info = 'Chứng chỉ';contentyes = 'Nên';yes = '1.Nêu rõ các chứng chỉ đã có và năm có..'; yes2 = '2.Nên là các chứng chỉ tin học, anh văn.';yes3 = '3.Nên là các chứng chỉ có giấy tờ xác minh.';yes4 = '4.Nếu không có, bỏ trống.';contentno = 'Không nên';no = '1.Nêu không đúng sự thật.';no1='2.Mô tả dài dòng, khó hiểu'">
                                                    <h4 style="border-bottom: 1px solid #172b4d" class="mt-3">Chứng chỉ</h4>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-4">
                                                            <select style="border: 0px solid black;" class="text-danger" name="cv_yearcerti">
                                                                @for (var i = 2020; i >= 1960; i--)
                                                                {
                                                                    <option value="@i">@i</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div>
                                                                <textarea name="cv_contentcertificate" class="w-100" style="border: 0px solid black; height: 30px" placeholder="Chứng chỉ">-CCNA,Anh văn Illa
                                                        </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div ng-click="fullname = '';jobposition = '';dateofbirth = '';phone = '';email = '';address = '';fc = '';sex = ''; info = 'Giải thưởng';contentyes = 'Nên';yes = '1.Các giải thưởng đạt được trong học tập, công tác.'; yes2 = '2.Ví dụ: Học bổng, danh hiệu,v.v..';yes3 = '';yes4 = '';contentno = 'Không nên';no = '1.Nêu không đúng sự thật.';no1='2.Mô tả dài dòng, khó hiểu'">
                                                    <h4 style="border-bottom: 1px solid #172b4d" class="mt-3">Giải thưởng</h4>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-4">
                                                            <select style="border: 0px solid black;" class="text-danger" name="cv_yearre">
                                                                @for (var j = 2020; j >= 1960; j--)
                                                                {
                                                                    <option value="@j">@j</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div>
                                                                <textarea name="cv_contentreward" class="w-100" style="border: 0px solid black; height: 30px" placeholder="Giải thưởng">Nhân viên xuất sắc năm công ty AllWork1s
                                                        </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div ng-click="fullname = '';jobposition = '';dateofbirth = '';phone = '';email = '';address = '';fc = '';sex = ''; info = 'Các kỹ năng';contentyes = 'Nên';yes = '1.Nêu các kỹ năng giúp ích cho vị trí ứng tuyển.'; yes2 = '2.Có thể đưa minh chứng ngắn gọn những kỹ năng đạt được qua công việc gì, hoạt động gì…';yes3 = '';yes4 = '';contentno = 'Không nên';no = '1.Đưa định nghĩa, quan điểm cá nhân.';no1=''">
                                                    <h4 style="border-bottom: 1px solid #172b4d" class="mt-3">Các kỹ năng</h4>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-4">
                                                            <b>Tin học</b>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div>
                                                                <textarea name="cv_IT" class="w-100" style="border: 0px solid black; height: 30px" placeholder="Nội dung">Thành thạo work,excel,...
                                                        </textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <b>Anh văn</b>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div>
                                                                <textarea name="cv_english" class="w-100" style="border: 0px solid black; height: 30px" placeholder="Nội dung">Giao tiếp tốt,...v.v
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-white">
                                <nav class="sticky-top bg-white w-100" style="z-index: 100000 !important; height: 70px;">
                                    <div class="bg-white card shadow">
                                        <div class="bg-white card-body" id="main_nav">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn btn-danger" style="width: 100%; height: 70px"><i class="fa fa-save">&nbsp;</i>LƯU HỒ SƠ</button>
                                                    <button type="submit" class="btn btn-primary mt-2" style="width: 100%;"><i class="fa fa-edit">&nbsp;</i>Chấm hồ sơ</button>
                                                </div>
                                                <div class="col-lg-12 mt-2">
                                                    <div class="list-style mt-50">
                                                        <hr />
                                                        <div class="alert alert-danger text-dark">Trình chấm điểm hệ thống, nếu ghi sai hệ thống sẽ nhắc bạn. Vui lòng bấm vào <b class="text-danger">Chấm hồ sơ</b> để kiểm tra quá trình</div>
                                                        <h4 class="list-title text-primary">Hướng dẫn<br /><span style="font-size: 12px; color: black">Chọn và ghi để hệ thống hướng dẫn chi tiết</span></h4>
                                                        <div class="list-style mt-50">
                                                            <h4 class="list-title">{{info}}</h4>
                                                            <div class="e" style="font-size: 15px">
                                                                <ul>
                                                                    <li>{{fullname}}</li>
                                                                    <li>{{jobposition}}</li>
                                                                    <li>{{dateofbirth}}</li>
                                                                    <li>{{sex}}</li>
                                                                    <li>{{phone}}</li>
                                                                    <li>{{sex}}</li>
                                                                    <li>{{email}}</li>
                                                                    <li>{{address}}</li>
                                                                    <li><b>{{contentyes}}</b></li>
                                                                    <li>{{yes}}</li>
                                                                    <li>{{yes1}}</li>
                                                                    <li>{{yes2}}</li>
                                                                    <li>{{yes3}}</li>
                                                                    <li>{{yes4}}</li>
                                                                    <li><b>{{contentno}}</b></li>
                                                                    <li>{{no}}</li>
                                                                    <li>{{no1}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- navbar-collapse.// -->
                                    </div><!-- container //  -->
                                </nav>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="section-content bg-dark w-100 fixed-bottom" style="height: 55px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row mt-2">
                    <div class="col-lg-6 col-sm-6">
                        <button type="button" class="btn btn-warning w-100"><i class="fa fa-file-pdf">&nbsp;</i>Tải file PDF (Giới hạn: 10)</button>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <button type="button" class="btn btn-warning w-100"><i class="fa fa-newspaper">&nbsp;</i>Sử dụng hồ sơ khác</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 bg-white">

        </div>
    </div>
</div>