@model WebsiteWork.Models.Employer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_vacancies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_vacancies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_datelogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_datelogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_specialized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_specialized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_option)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_option)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_personalpage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_personalpage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_introduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_introduce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_favourite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_favourite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_linkfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_linkfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_recruitment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_recruitment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_addressmain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_addressmain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_ifamemapmain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_ifamemapmain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_addresstwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_addresstwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_ifamemaptwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_ifamemaptwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_addressthree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_addressthree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employer_ifamemapthree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer_ifamemapthree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
