@model WebsiteWork.Models.Submit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Submit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.submit_datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submit_datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cv.cv_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cv.cv_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work.work_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work.work_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.user_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.user_login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.submit_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
