@using WebsiteWork.Models;
@model List<Work>
@{
    ViewBag.Title = "Home Page";
    User user = (User)Session["user"];
}
@Html.Action("Menu", "Home")
<style>
    .form-input .input-items.active input, .form-input .input-items.active textarea {
        border-color: #151965;
    }
</style>
<style>
    .hover:hover {
        background-color: var(--light-bg-color);
    }
</style>
<!-- index-block1 -->
<div class="w3l-index-block1">
    <div class="content py-5">
        <div class="container">
            <div class="row align-items-center py-md-5 py-3">
                <div class="col-lg-12" style="padding: 0px">
                    <div class="form-input mt-55">
                        <b class="text-primary">Khám phá ngay 0+ việc làm tốt nhất trên ALLWORK1S</b>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 mt-1" style="padding: 0px">
                    <div class="form-input mt-55">
                        <form action="#">
                            <div class="input-items active">
                                <input type="text" placeholder="Tên công việc hoặc vị trí - kỹ năng ứng tuyển..." class="form-control" style="border-radius: 0%">
                                <i class="lni-search" style="color:#151965"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-1" style="padding: 0px">
                    <select class="form-control" style="border: 2px solid #151965; height: 44px; border-radius: 0%">
                        <option>Tỉnh thành</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="col-lg-3 col-sm-6 mt-1" style="padding: 0px">
                    <select class="form-control" style="border: 2px solid #151965; height: 44px;border-radius: 0%">
                        <option><i class="lni lni-thought">&nbsp;</i>Nghề nghiệp</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="col-lg-1 col-sm-6 mt-1" style="padding: 0px">
                    <button class="btn btn-primary w-100" style="height: 44px;border-radius: 0%"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 content-left">
                    <b class="text-black" style="font-size: 45px; font-weight: 500; color: #363636">Tìm kiếm việc làm nhanh nhất với AllWork1s</b>
                    <p class="mt-3 mb-md-5 mb-4 text-black" style="vertical-align: inherit; font-size: 20px; color: #363636">
                        Hệ thống tìm kiếm việc làm nhanh chóng, dễ sử dụng với bất kỳ nghành nghề nào
                        <ul style="margin-top: -30px">
                            <li><i class="fas fa-check">&nbsp;</i>Tạo hồ sơ trực tiếp, nhanh chóng với hệ thống chấm điềm cv chuẩn</li>
                            <li><i class="fas fa-check">&nbsp;</i>Có tất cả các công việc theo nghành nghề</li>
                            <li><i class="fas fa-check">&nbsp;</i>Trình tìm kiếm thông minh, ưu tiên hiển thị công việc theo nghành nghề</li>
                            <li><i class="fas fa-check">&nbsp;</i>Tỷ lệ thất nghiệp sẻ không còn</li>
                        </ul>
                    </p>
                    <br />
                    <a href="#login.html" class="btn btn-primary btn-theme mt-1"><b><i class="fas fa-file-alt">&nbsp;</i>Tạo CV tìm việc</b></a>
                    <a class="btn btn-danger btn-theme mt-1 text-white" href="@Url.Action("WorkAll","View")"><b><i class="fas fa-fire">&nbsp;</i>Tìm việc làm</b></a>
                    <br />
                    <br />
                    <b class="mt-2">ĐẢM BẢO</b> có công việc nhanh sau khi nộp đơn
                </div>
                <div class="col-md-6 content-photo mt-md-0 mt-5">
                    <img src="~/Content/Layout/images/main.jpg" class="img-fluid" alt="main image" style="width: 100%;height: 350px">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <!-- Tabs with icons -->
            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 active font-weight-bold" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="far fa-laugh-wink font-weight-bold text-white" style="font-size: 20px">&nbsp;</i>VIỆC LÀM TỐT NHẤT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 font-weight-bold" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="far fa-smile-beam font-weight-bold text-white" style="font-size: 20px">&nbsp;</i>VIỆC LÀM HẤP DẪN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 font-weight-bold" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="far fa-smile text-white">&nbsp;</i>VIỆC LÀM NỔI BẬC</a>
                    </li>
                </ul>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <div class="row">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true && n.Employer.employer_version == 3).OrderByDescending(n => n.work_datecreated).Take(15).ToList())
                                {
                                    <div class="col-md-4" style="font-size: 15px; padding: 5px; margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                    <li>
                                                        <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                    </li>
                                                    <li>
                                                        <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                    </li>
                                                    <li class="card-media-object-social-list-item-additional">
                                                        <span>+2</span>
                                                    </li>
                                                </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                            <div class="row">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true).OrderByDescending(n => n.Employer.employer_version).OrderByDescending(n => n.work_datecreated).Take(15).ToList())
                                {
                                    <div class="col-md-4" style="font-size: 15px; padding: 5px; margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                    <li>
                                                        <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                    </li>
                                                    <li>
                                                        <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                    </li>
                                                    <li class="card-media-object-social-list-item-additional">
                                                        <span>+2</span>
                                                    </li>
                                                </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                            <div class="row">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true).OrderByDescending(n => n.Employer.employer_version).OrderByDescending(n => n.work_datecreated).Take(15).ToList())
                                {
                                    <div class="col-md-4" style="font-size: 15px;padding: 5px;margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                    <li>
                                                        <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                    </li>
                                                    <li>
                                                        <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                    </li>
                                                    <li class="card-media-object-social-list-item-additional">
                                                        <span>+2</span>
                                                    </li>
                                                </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/AdEmployer/qc1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/AdEmployer/shinhan-bank-viet-nam-tuyen-chuyen-vien-tu-van-tin-dung.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/AdEmployer/qc1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Tabs with icons -->
            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <button class="btn btn-primary w-100"><i class="fas fa-calendar-plus text-white">&nbsp;</i>VIỆC LÀM MỚI NHẤT</button>
                            <div class="row mt-2" style="margin-top: 2% !important">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true).OrderByDescending(n => n.work_datecreated).Take(24).ToList())
                                {
                                    <div class="col-md-6" style="font-size: 15px; padding: 5px; margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                        <li>
                                                            <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                        </li>
                                                        <li>
                                                            <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                        </li>
                                                        <li class="card-media-object-social-list-item-additional">
                                                            <span>+2</span>
                                                        </li>
                                                    </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Tabs with icons -->
            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <button class="btn btn-primary w-100"><i class="fab fa-hotjar text-white">&nbsp;</i>VIỆC LÀM HOT NHẤT</button>
                            <div class="row mt-2" style="margin-top: 2% !important">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true).OrderByDescending(n => n.work_view).Take(12).ToList())
                                {
                                    <div class="col-md-12" style="font-size: 15px; padding: 1px; margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                        <li>
                                                            <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                        </li>
                                                        <li>
                                                            <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                        </li>
                                                        <li class="card-media-object-social-list-item-additional">
                                                            <span>+2</span>
                                                        </li>
                                                    </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <!-- Tabs with icons -->
            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <button class="btn btn-primary w-100"><i class="fas fa-user-clock text-white">&nbsp;</i>VIỆC LÀM THỰC TẬP SINH</button>
                            <div class="row mt-2">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true).OrderByDescending(n => n.work_datecreated).Take(10).ToList())
                                {
                                    <div class="col-md-12" style="font-size: 15px; padding: 1px; margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                        <li>
                                                            <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                        </li>
                                                        <li>
                                                            <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                        </li>
                                                        <li class="card-media-object-social-list-item-additional">
                                                            <span>+2</span>
                                                        </li>
                                                    </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Tabs with icons -->
            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <button class="btn btn-primary w-100"><i class="far fa-clock text-white">&nbsp;</i>VIỆC LÀM BÁN THỜI GIAN</button>
                            <div class="row mt-2">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true).OrderByDescending(n => n.work_datecreated).Take(10).ToList())
                                {
                                    <div class="col-md-12" style="font-size: 15px; padding: 1px; margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                        <li>
                                                            <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                        </li>
                                                        <li>
                                                            <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                        </li>
                                                        <li class="card-media-object-social-list-item-additional">
                                                            <span>+2</span>
                                                        </li>
                                                    </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Tabs with icons -->
            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <button class="btn btn-primary w-100"><i class="fas fa-dollar-sign text-white">&nbsp;</i>VIỆC LÀM LƯƠNG CAO</button>
                            <div class="row mt-2">
                                @foreach (var item in Model.Where(n => n.work_activate == true && n.work_option == true).OrderByDescending(n => n.work_pricemax).Take(10).ToList())
                                {
                                    <div class="col-md-12" style="font-size: 15px; padding: 1px; margin-top: -1%">
                                        <div class="card-media">
                                            <!-- media container -->
                                            <div class="card-media-object-container">
                                                <div class="card-media-object" style="background-image: url('../../Images/Employer/@item.Employer.employer_logo');"></div>
                                                @if (item.Employer.employer_version == 3)
                                                {
                                                    <a class="card-media-object-tag subtle btn btn-danger">Cần gấp</a>
                                                }
                                                else if (item.Employer.employer_version == 2)
                                                {
                                                    <span class="card-media-object-tag subtle">Mới</span>
                                                }
                                                else
                                                {
                                                    <span class="card-media-object-tag subtle"></span>
                                                }
                                                @*<ul class="card-media-object-social-list">
                                                        <li>
                                                            <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                                        </li>
                                                        <li>
                                                            <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                                        </li>
                                                        <li class="card-media-object-social-list-item-additional">
                                                            <span>+2</span>
                                                        </li>
                                                    </ul>*@
                                            </div>
                                            <!-- body container -->
                                            <div class="card-media-body">
                                                <div class="card-media-body-top">
                                                    <span class="subtle">12 phút trước <br /> <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })">@(item.Employer.employer_company.Length < 25 ? item.Employer.employer_company : item.Employer.employer_company.Substring(0, 25) + "...")</a></span>
                                                    <div class="card-media-body-top-icons u-float-right">
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                                        </svg>
                                                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="card-media-body-heading"><b>@(item.work_name.Length < 30 ? item.work_name : item.work_name.Substring(0, 30) + "...")</b></span>
                                                <div class="card-media-body-supporting-bottom">
                                                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fa fa-map-marker-alt text-primary">&nbsp;</i>@item.Province.province_name</span>
                                                    @if (user != null)
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>@item.work_pricemin &ndash; @item.work_pricemax @item.work_symbol </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-media-body-supporting-bottom-text subtle u-float-right" style="color: black"><i class="fas fa-donate text-primary">&nbsp;</i>Đăng nhập</span>
                                                    }
                                                </div>
                                                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                                    <span class="card-media-body-supporting-bottom-text subtle">Cần @item.Form.form_name</span>
                                                    <a href="@Url.Action("DetailsView","View", new {id = item.work_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right text-danger">Xem việc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#exampleModalLong').modal('show');
    })
</script>
<div id="idname" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Modal body text goes here.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#exampleModal").modal('show');
    });
</script>
<div class="section" style="background-image: url('~/Content/UI/assets/img/ill/1.svg');">
    <div class="container py-md">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 mb-lg-auto">
                <div class="rounded overflow-hidden transform-perspective-left">
                    <div id="carousel_example" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel_example" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_example" data-slide-to="1"></li>
                            <li data-target="#carousel_example" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid" src="~/Content/UI/assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid" src="~/Content/UI/assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid" src="~/Content/UI/assets/img/theme/img-1-1200x1000.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel_example" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel_example" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h1 class="font-weight-light">Hệ thống tạo CV và tìm việc làm nhanh nhất.</h1>
                <p class="lead mt-4">ALLWORK1S sẽ giúp bạn tìm việc làm nhanh chóng thông qua tạo hồ sơ và nộp hồ sơ đi cho nhà tuyển dụng.Thông qua đó ứng viên có thể nhận được tin nhắn săn đón mà không cần phải tốn công sức nào.</p>
                <a href="https://demos.creative-tim.com/argon-design-system/docs/components/carousel.html" class="btn btn-white mt-4">Tìm việc gấp</a>
            </div>
        </div>
    </div>
</div>
<div class="section features-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                        <i class="fas fa-address-card"></i>
                    </div>
                    <h6 class="info-title text-uppercase text-primary">Tạo hồ sơ tìm việc thông minh</h6>
                    <p class="description opacity-8">Chọn mẫu CV và tạo dựng hồ sơ.Hồ sơ sẽ được nhân trực tiếp khi ứng viên nộp hồ sơ tìm việc và chờ phản hồi từ nhà tuyển dụng.</p>
                    <a href="javascript:;" class="text-primary">
                        Tạo ngay
                        <i class="ni ni-bold-right text-primary"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                        <i class="fab fa-searchengin"></i>
                    </div>
                    <h6 class="info-title text-uppercase text-success">Nhận việc làm theo kỹ năng của CV</h6>
                    <p class="description opacity-8">Sau khi tạo hồ sơ thành công. Hệ thống sẽ chủ động tìm việc liên quan đến trình độ của ứng viên và gửi về trang quản lý riêng.</p>
                    <a href="javascript:;" class="text-primary">
                        Tìm việc ngay
                        <i class="ni ni-bold-right text-primary"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                        <i class="fas fa-building"></i>
                    </div>
                    <h6 class="info-title text-uppercase text-warning">Nhận việc làm bất ngờ</h6>
                    <p class="description opacity-8">Sẽ rất tuyệt khi bạn được ai đó mời đi làm. Hệ thống sẽ giúp bạn, sau khi hồ sơ được tạo lập và được kích hoạt thì nhà tuyển dụng có thể nhìn thấy hồ sơ của bạn</p>
                    <a href="javascript:;" class="text-primary">
                        Xem công ty
                        <i class="ni ni-bold-right text-primary"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-with-photo17 -->
<section class="w3l-index-block3">
    <div class="section-info py-5">
        <div class="container py-md-3">
            <div class="row cwp17-two align-items-center">
                <div class="col-md-6 cwp17-image">
                    <img src="~/Content/Layout/images/business.png" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6 cwp17-text">
                    <h2>Trình quản lý và thống kê hồ sơ, tác động hồ sơ từ nhà tuyển dụng thông minh.</h2>
                    <p>
                        Hệ thống sẽ cho ứng viên biết được tầm quan trọng của ứng viên. Nhà tuyển dụng có thể chú ý hay không chú ý đến bạn, và trình quản lý những việc làm mà bạn đã tác động đến hệ thống từ làm nộp hồ sơ đến quản lý hồ sơ.
                    </p>
                    <a href="#signup.html">Xem ngay &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-index-block7 py-5">
    <div class="container py-md-3">
        <div class="row cwp17-two align-items-center">
            <div class="col-md-6 cwp17-text">
                <h2>
                    TÌM KIẾM CÔNG VIỆC VÀ NỘP HỒ SƠ MIỂN PHÍ
                </h2>
                <p>
                    Với hơn 0 công việc. Ứng viên có thể thoải mái nộp hồ sơ của mình cho bất kỳ công việc nào tương ứng. Nếu được nhận bạn sẽ được thống báo qua gmail,số điển thoại, hệ thống,...
                </p>
                <a href="#signup.html">Tạo hồ sơ ngay &raquo;</a>
            </div>
            <div class="col-md-6 cwp17-image">
                <img src="~/Content/Layout/images/mobile-app.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="text-center">
                    <h4 class="display-4 mb-5 mt-5">Các nhà tuyển dụng nổi bậc</h4>
                    <div class="row justify-content-center">
                        @Html.Action("Employer", "Home")
                        <button type="button" class="btn btn-primary mt-5">Tuyển dụng ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content-with-photo17 -->
<section class="w3l-index-block5">
    <!-- main-slider -->
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Ứng viên nói gì AllWork1s </h3>
            </div>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="owl-one owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Content/Layout/images/emp2.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- Camilla</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Content/Layout/images/emp1.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- Dennis Jack</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Content/Layout/images/emp3.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- Anthony</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Content/Layout/images/emp4.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- Charlotte</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>
<!-- partners -->
<!-- //partners -->
<!-- subscribe section -->
<!-- //subscribe -->
<section class="w3l-index-block10">
    <div class="new-block top-bottom">
        <div class="container">
            <div class="middle-section">
                <!-- <h5>Tagline</h5> -->
                <div class="section-width">
                    <h2>Trao đổi, thảo luận về các vấn đề công việc với các nhà tuyển dụng.</h2>
                </div>
                <div class="link-list-menu">
                    <p class="mb-5">Một môi trường thuận lợi cho việc trao đổi, trao dồi kinh nghiệm trong việc làm.</p>
                    <a href="about.html" class="btn btn-outline-light btn-more">Xem chi tiết <span class="fa fa-arrow-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- index-block8 -->
<section class="w3l-index-block8 py-5">
    <div class="container py-md-3 text-center">
        <div class="heading text-center mx-auto">
            <h3 class="head">Bạn có hài lòng về AllWork1s? </h3>
        </div>
        <div class="buttons mt-4">
            <a href="contact.html" class="btn btn-outline-primary mr-2 btn-demo">Tôi thấy thất vọng</a>
            <a href="contact.html" class="btn btn-primary btn-demo ml-2">Tôi thấy rất tốt</a>
        </div>
    </div>
</section>
<!-- / index-block8 -->
<!-- footer-28 block -->