@model IEnumerable<WebsiteWork.Models.Work>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.work_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_request)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_benefit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_moneyf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_moneye)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_activate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_option)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_view)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_love)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_map)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_datecreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_dateexpired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_datesend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_imagetwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_imgathree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_pricemin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_pricemax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_format)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_yearsofexp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_ifamemap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_spam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employer.employer_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Form.form_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province.province_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.work_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_request)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_benefit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_moneyf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_moneye)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_activate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_option)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_view)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_love)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_map)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_dateexpired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_datesend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_imagetwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_imgathree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_pricemin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_pricemax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_format)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_yearsofexp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_ifamemap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_spam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employer.employer_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Form.form_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province.province_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.work_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.work_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.work_id })
        </td>
    </tr>
}

</table>
