@using WebsiteWork.Models;
@model Work
@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = (User)Session["user"];
    DataWorkEntities db = new DataWorkEntities();
}

@{
    List<Work> works = db.Works.Where(n => n.employer_id == Model.employer_id && n.work_id != Model.work_id && n.work_activate == true).OrderByDescending(n => n.work_datecreated).Take(20).ToList();
    List<Work> worksinvolve = db.Works.Where(n => n.career_id == Model.career_id && n.work_activate == true && n.employer_id != Model.employer_id).OrderByDescending(n => n.work_datecreated).Take(7).ToList();


}
@Html.Action("Menu", "Home")
<section class="section">
    <div class="col-lg-12" style="background-image: url('../../Images/Employer/cover_trang_chu.jpg');background-repeat: no-repeat; background-size: 100%; width: 100%; height: 200px">
        <div class="col-lg-12" style="background-image: url('../../Images/Employer/cover_trang_chu.jpg');background-repeat: no-repeat; background-size: 100%; width: 100%; height: 200px">
            <br />
            <br />
            <br />
            <div>
                <div class="row py-1" style="padding: 5%; height: 80px;">
                    <div class="col-lg-5 col-sm-6 mt-1" style="padding: 0px;">
                        <div class="form-input mt-55">
                            <form action="#">
                                <div class="input-items active">
                                    <input type="text" placeholder="Tên công việc hoặc vị trí - kỹ năng ứng tuyển..." class="form-control" style="border-radius: 0%;border: 2px solid #151965">
                                    <i class="lni-search" style="color:#151965"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-1" style="padding: 0px">
                        <select class="form-control" style="border: 2px solid #151965;height: 44px;border-radius: 0%">
                            <option>Tỉnh thành</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-1" style="padding: 0px">
                        <select class="form-control" style="border: 2px solid #151965; height: 44px;border-radius: 0%">
                            <option><i class="lni lni-thought">&nbsp;</i>Nghề nghiệp</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-lg-1 col-sm-6 mt-1" style="padding: 0px">
                        <button class="btn btn-danger w-100" style="height: 44px;border-radius: 0%"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w3l-index-block1" ng-app="">
    <div class="">
        <div class="">
            <div class="row align-items-center">
                <section class="container">
                    <div class="">
                        <div class="w3l-index-block1">
                            <div class="">
                                <div class="" style="background-color: white; height:250px">
                                    <div class="container py-md">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img src="~/Images/Employer/@Model.Employer.employer_logo" alt="Raised circle image" class="rounded-circle shadow-lg" style="width: 150px;height: 150px">
                                            </div>
                                            <div class="col-lg-7">
                                                <h5 class="font-weight-light text-primary font-weight-bold">@Model.work_name</h5>
                                                <p class="mt-1 text-danger">@Model.Employer.employer_company</p>
                                                <p class="mt-1" style="font-size: 15px !important">@Model.work_address </p>
                                                <a href="" class="btn btn-white mt-4"><i class="fab fa-rev">&nbsp;</i>Ngày hết hạn nộp hồ sơ: @Model.work_deadline.Value.Day/@Model.work_deadline.Value.Month/@Model.work_deadline.Value.Year</a>
                                            </div>
                                            <div class="col-lg-3">
                                                @if (user != null)
                                                {
                                                    {
                                                        List<Submit> submits = db.Submits.Where(n => n.user_id == user.user_id && n.work_id == Model.work_id).ToList();
                                                        ViewBag.submits = submits.Count;
                                                    }
                                                    if (ViewBag.submits == 0)
                                                    {
                                                        <button type="button" class="btn btn-primary w-100 mt-1" data-toggle="modal" data-target="#submitcv"><i class="far fa-address-card">&nbsp;</i>Nộp hồ sơ</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-primary w-100 mt-1" data-toggle="modal" data-target=""><i class="far fa-address-card">&nbsp;</i>Hủy nộp hồ sơ</button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-primary w-100 mt-1" data-toggle="modal" data-target="#login"><i class="far fa-address-card">&nbsp;</i>Nộp hồ sơ</button>
                                                }
                                                @if (ViewBag.Dem == 0)
                                                {
                                                    <button onclick="window.location.href=''" type="button" class="btn btn-danger w-100 mt-1"><i class="fa fa-heart">&nbsp;</i>Yêu thích</button>
                                                }
                                                else
                                                {
                                                    <button onclick="window.location.href=''" type="button" class="btn btn-danger w-100 mt-1"><i class="fa fa-heart">&nbsp;</i>Hủy thích</button>
                                                }
                                                <hr />
                                                <button type="button" class="btn btn-dark w-100 mt-1"><i class="fa fa-mail-forward">&nbsp;</i>Liên hệ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-content">
                                    <div class="row align-items-center">
                                        <div class="row justify-content-center">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="nav-wrapper">
                                                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-cloud-upload-96 mr-2"></i>Tin tuyển dụng</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i>Việc làm liên quan (@works.Count việc làm)</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-calendar-grid-58 mr-2"></i>Về công ty</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="card shadow">
                                                        <div class="card-body">
                                                            <div class="tab-content" id="myTabContent">
                                                                <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <style>
                                                                                .card-lift--hover:hover {
                                                                                    border: 1px solid #151965;
                                                                                    background-color: aliceblue;
                                                                                    font-size: 18px
                                                                                }
                                                                            </style>
                                                                            <div class="row">
                                                                                <div class="col-sm-4 col-6">
                                                                                    <img src="~/Images/Work/danh-ba-trung-tam-tu-van-gioi-thieu-viec-lam-khu-vuc-mien-nam-99.jpg" alt="Circle image" class="img-fluid rounded shadow" style="width: 100%; height: 200px">
                                                                                </div>
                                                                                <div class="col-sm-4 col-6">
                                                                                    <img src="~/Images/Work/unnamed.jpg" alt="Raised image" class="img-fluid rounded shadow" style="width: 100%; height: 200px">
                                                                                </div>
                                                                                <div class="col-sm-4 col-6">
                                                                                    <img src="~/Images/Work/VietBeauty-Academy-cam-ket-tuyen-dung-viec-lam.png" alt="Raised circle image" class="img-fluid rounded shadow" style="width: 100%; height: 200px">
                                                                                </div>
                                                                            </div>
                                                                            <h5 class="font-weight-light text-primary font-weight-bold mt-3">MÔ TẢ CÔNG VIỆC</h5>
                                                                            <div class="mt-3">
                                                                                <ul>
                                                                                    <li>
                                                                                        @Html.Raw(Model.work_description)
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <h5 class="font-weight-light text-primary font-weight-bold mt-3">YÊU CẦU</h5>
                                                                            <div class="mt-3">
                                                                                <ul>
                                                                                    <li>@Html.Raw(Model.work_request)</li>
                                                                                </ul>
                                                                            </div>
                                                                            <h5 class="font-weight-light text-primary font-weight-bold mt-3">QUYỀN LỢI ĐƯỢC HƯỞNG</h5>
                                                                            <div class="mt-3">
                                                                                <ul>
                                                                                    <li>
                                                                                        @Html.Raw(Model.work_benefit)
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <hr />
                                                                            <button type="button" class="btn btn-danger w-100">NỘP HỒ SƠ CHO CÔNG VIỆC NÀY</button>
                                                                            <div class="list-style mt-2">
                                                                                <h4 class="list-title">Các bước hướng dẫn</h4>
                                                                                <div class="list-style-one">
                                                                                    <ul>
                                                                                        <li><span>1</span>  Đăng nhập.</li>
                                                                                        <li><span>2</span>  Nộp hồ sơ.</li>
                                                                                        <li><span>3</span>  Xác nhân.</li>
                                                                                        <li><span>4</span>  Chờ thông tin từ nhà tuyển dụng.</li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div> <!-- list-style-one -->
                                                                            <hr />
                                                                            <img src="~/Content/UI/assets/img/theme/img-2-1200x1000.jpg" class="w-100" style="height: 500px" />
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">THÔNG TIN CÔNG VIỆC</li>
                                                                                <li class="list-group-item">
                                                                                    <b>Mức lương:</b>
                                                                                    @if (user != null)
                                                                                    {
                                                                                        if (Model.work_pricemin == 0 && Model.work_pricemax == 0)
                                                                                        {
                                                                                            <span class="text-primary">Thỏa thuận</span>
                                                                                        }
                                                                                        else if (Model.work_pricemin == 0 && Model.work_pricemax != 0)
                                                                                        {
                                                                                            <span class="text-primary">Trên @Model.work_pricemax @Model.work_symbol</span>
                                                                                        }
                                                                                        else if (Model.work_pricemin != 0 && Model.work_pricemax == 0)
                                                                                        {
                                                                                            <span class="text-primary">Trên @Model.work_pricemin @Model.work_symbol</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span class="text-primary">@Model.work_pricemin - @Model.work_pricemax @Model.work_symbol</span>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <button type="button" class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#login">Đăng nhập để xem lương</button>
                                                                                    }
                                                                                </li>
                                                                                <li class="list-group-item"><b>Yêu cầu giới tính:</b>&nbsp;@Model.work_sex</li>
                                                                                <li class="list-group-item"><b>Hình thức:</b>@Model.Form.form_name</li>
                                                                                <li class="list-group-item"><b>Số lượng tuyển: </b>@Model.work_amount</li>
                                                                                <li class="list-group-item"><b>Chức vụ: </b>Nhân viên</li>
                                                                                <li class="list-group-item"><b>Kinh nghiệm: </b>@(Model.work_yearsofexp == 0 || Model.work_yearsofexp == null ? "Không yêu cầu" : Model.work_yearsofexp + " năm")</li>
                                                                                <li class="list-group-item"><b>Địa điểm: </b>@Model.Province.province_name</li>
                                                                            </ul>
                                                                            <ul class="list-group mt-2">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">ĐỊA CHỈ</li>
                                                                                <li class="list-group-item">
                                                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.9547393952257!2d106.66230721462432!3d10.96678899219252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d145df7f0bfb%3A0xb53f5b13be442889!2zTmVtIG7GsOG7m25nIFbhu4sgTmd1ecOqbiBC4bqjbg!5e0!3m2!1sfr!2s!4v1598689904866!5m2!1sfr!2s" frameborder="0" style="border:0;width: 100%; height: 400px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                                                                </li>
                                                                            </ul>
                                                                            <ul class="list-group mt-2">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">CÔNG VIỆC LIÊN QUAN</li>
                                                                                @foreach (var item in worksinvolve)
                                                                                {
                                                                                    <div class="row no-gutters">
                                                                                        <div class="col-md-4">
                                                                                            <img src="~/Images/Employer/@item.Employer.employer_logo" class=" mt-3" alt="..." style="width: 100%; height: 80px">
                                                                                        </div>
                                                                                        <div class="col-md-8">
                                                                                            <div class="card-body">
                                                                                                <b>@item.work_name</b>
                                                                                                <br />
                                                                                                <p style="font-size: 12px">@item.Employer.employer_company</p>
                                                                                                <div style="font-size: 13px">
                                                                                                    <div class="float-left">
                                                                                                        <i class="fa fa-dollar text-danger font-weight-bold">&nbsp;</i>
                                                                                                        @if (user != null)
                                                                                                        {
                                                                                                            if (item.work_pricemin == 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Thỏa thuận</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin == 0 && item.work_pricemax != 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin != 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemin @item.work_symbol</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="text-primary">@item.work_pricemin - @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <span class="text-primary">Đăng nhập</span>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="float-right"><i class="fa fa-map-marker-alt text-primary font-weight-bold">&nbsp;</i>Bình Dương</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            @if (works.Count < 1)
                                                                            {
                                                                                <span class="text-danger alert alert-danger w-100 font-weight-bold"><i class="fa fa-bell">&nbsp;</i>Hiện tại nhà tuyển dụng này không có bài tuyển nào. Quay lại sau nhé hoặc tìm việc gấp tại đây</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                foreach (var item in works)
                                                                                {
                                                                                    <div class="row no-gutters">
                                                                                        <div class="col-md-2">
                                                                                            <img src="~/Images/Employer/@item.Employer.employer_logo" class=" mt-3" alt="..." style="width: 100%; height: 80px">
                                                                                        </div>
                                                                                        <div class="col-md-10">
                                                                                            <div class="card-body">
                                                                                                <b>@item.work_name</b>
                                                                                                <br />
                                                                                                <p style="font-size: 12px">@Model.Employer.employer_company</p>
                                                                                                <div style="font-size: 13px">
                                                                                                    <div class="float-left">
                                                                                                        <i class="fa fa-dollar text-danger font-weight-bold">&nbsp;</i>
                                                                                                        @if (user != null)
                                                                                                        {
                                                                                                            if (item.work_pricemin == 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Thỏa thuận</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin == 0 && item.work_pricemax != 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin != 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemin @item.work_symbol</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="text-primary">@item.work_pricemin - @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <span class="text-primary">Vui lòng đăng nhập để xem lương</span>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="float-right"><i class="fa fa-map-marker-alt text-primary font-weight-bold">&nbsp;</i>@item.Province.province_name</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                            <hr />
                                                                            <img src="~/Content/UI/assets/img/theme/img-2-1200x1000.jpg" class="w-100" style="height: 500px" />
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">THÔNG TIN CÔNG VIỆC</li>
                                                                                <li class="list-group-item">
                                                                                    <b>Mức lương:</b>
                                                                                    @if (user != null)
                                                                                    {
                                                                                        if (Model.work_pricemin == 0 && Model.work_pricemax == 0)
                                                                                        {
                                                                                            <span class="text-primary">Thỏa thuận</span>
                                                                                        }
                                                                                        else if (Model.work_pricemin == 0 && Model.work_pricemax != 0)
                                                                                        {
                                                                                            <span class="text-primary">Trên @Model.work_pricemax @Model.work_symbol</span>
                                                                                        }
                                                                                        else if (Model.work_pricemin != 0 && Model.work_pricemax == 0)
                                                                                        {
                                                                                            <span class="text-primary">Trên @Model.work_pricemin @Model.work_symbol</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span class="text-primary">@Model.work_pricemin - @Model.work_pricemax @Model.work_symbol</span>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <button type="button" class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#login">Đăng nhập để xem lương</button>
                                                                                    }
                                                                                </li>
                                                                                <li class="list-group-item"><b>Yêu cầu giới tính:</b>&nbsp;@Model.work_sex</li>
                                                                                <li class="list-group-item"><b>Hình thức:</b>@Model.Form.form_name</li>
                                                                                <li class="list-group-item"><b>Số lượng tuyển: </b>@Model.work_amount</li>
                                                                                <li class="list-group-item"><b>Chức vụ: </b>Nhân viên</li>
                                                                                <li class="list-group-item"><b>Kinh nghiệm: </b>@(Model.work_yearsofexp == 0 || Model.work_yearsofexp == null ? "Không yêu cầu" : Model.work_yearsofexp + " năm")</li>
                                                                                <li class="list-group-item"><b>Địa điểm: </b>@Model.Province.province_name</li>
                                                                            </ul>
                                                                            <ul class="list-group mt-2">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">ĐỊA CHỈ</li>
                                                                                <li class="list-group-item">
                                                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.9547393952257!2d106.66230721462432!3d10.96678899219252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d145df7f0bfb%3A0xb53f5b13be442889!2zTmVtIG7GsOG7m25nIFbhu4sgTmd1ecOqbiBC4bqjbg!5e0!3m2!1sfr!2s!4v1598689904866!5m2!1sfr!2s" frameborder="0" style="border:0;width: 100%; height: 400px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                                                                </li>
                                                                            </ul>
                                                                            <ul class="list-group mt-2">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">CÔNG VIỆC LIÊN QUAN</li>
                                                                                @foreach (var item in worksinvolve)
                                                                                {
                                                                                    <div class="row no-gutters">
                                                                                        <div class="col-md-4">
                                                                                            <img src="~/Images/Employer/@item.Employer.employer_logo" class=" mt-3" alt="..." style="width: 100%; height: 80px">
                                                                                        </div>
                                                                                        <div class="col-md-8">
                                                                                            <div class="card-body">
                                                                                                <b>@item.work_name</b>
                                                                                                <br />
                                                                                                <p style="font-size: 12px">@item.Employer.employer_company</p>
                                                                                                <div style="font-size: 13px">
                                                                                                    <div class="float-left">
                                                                                                        <i class="fa fa-dollar text-danger font-weight-bold">&nbsp;</i>
                                                                                                        @if (user != null)
                                                                                                        {
                                                                                                            if (item.work_pricemin == 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Thỏa thuận</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin == 0 && item.work_pricemax != 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin != 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemin @item.work_symbol</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="text-primary">@item.work_pricemin - @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <span class="text-primary">Đăng nhập</span>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="float-right"><i class="fa fa-map-marker-alt text-primary font-weight-bold">&nbsp;</i>Bình Dương</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <img src="~/Content/UI/assets/img/theme/img-2-1200x1000.jpg" class="w-100" style="height: 500px" />
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">THÔNG TIN CÔNG VIỆC</li>
                                                                                <li class="list-group-item">
                                                                                    <b>Mức lương:</b>
                                                                                    @if (user != null)
                                                                                    {
                                                                                        if (Model.work_pricemin == 0 && Model.work_pricemax == 0)
                                                                                        {
                                                                                            <span class="text-primary">Thỏa thuận</span>
                                                                                        }
                                                                                        else if (Model.work_pricemin == 0 && Model.work_pricemax != 0)
                                                                                        {
                                                                                            <span class="text-primary">Trên @Model.work_pricemax @Model.work_symbol</span>
                                                                                        }
                                                                                        else if (Model.work_pricemin != 0 && Model.work_pricemax == 0)
                                                                                        {
                                                                                            <span class="text-primary">Trên @Model.work_pricemin @Model.work_symbol</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span class="text-primary">@Model.work_pricemin - @Model.work_pricemax @Model.work_symbol</span>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <button type="button" class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#login">Đăng nhập để xem lương</button>
                                                                                    }
                                                                                </li>
                                                                                <li class="list-group-item"><b>Yêu cầu giới tính:</b>&nbsp;@Model.work_sex</li>
                                                                                <li class="list-group-item"><b>Hình thức:</b>@Model.Form.form_name</li>
                                                                                <li class="list-group-item"><b>Số lượng tuyển: </b>@Model.work_amount</li>
                                                                                <li class="list-group-item"><b>Chức vụ: </b>Nhân viên</li>
                                                                                <li class="list-group-item"><b>Kinh nghiệm: </b>@(Model.work_yearsofexp == 0 || Model.work_yearsofexp == null ? "Không yêu cầu" : Model.work_yearsofexp + " năm")</li>
                                                                                <li class="list-group-item"><b>Địa điểm: </b>@Model.Province.province_name</li>
                                                                            </ul>
                                                                            <ul class="list-group mt-2">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">ĐỊA CHỈ</li>
                                                                                <li class="list-group-item">
                                                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.9547393952257!2d106.66230721462432!3d10.96678899219252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d145df7f0bfb%3A0xb53f5b13be442889!2zTmVtIG7GsOG7m25nIFbhu4sgTmd1ecOqbiBC4bqjbg!5e0!3m2!1sfr!2s!4v1598689904866!5m2!1sfr!2s" frameborder="0" style="border:0;width: 100%; height: 400px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                                                                </li>
                                                                            </ul>
                                                                            <ul class="list-group mt-2">
                                                                                <li class="list-group-item bg-primary text-white font-weight-bold" aria-disabled="true">CÔNG VIỆC LIÊN QUAN</li>
                                                                                @foreach (var item in worksinvolve)
                                                                                {
                                                                                    <div class="row no-gutters">
                                                                                        <div class="col-md-4">
                                                                                            <img src="~/Images/Employer/@item.Employer.employer_logo" class=" mt-3" alt="..." style="width: 100%; height: 80px">
                                                                                        </div>
                                                                                        <div class="col-md-8">
                                                                                            <div class="card-body">
                                                                                                <b>@item.work_name</b>
                                                                                                <br />
                                                                                                <p style="font-size: 12px">@item.Employer.employer_company</p>
                                                                                                <div style="font-size: 13px">
                                                                                                    <div class="float-left">
                                                                                                        <i class="fa fa-dollar text-danger font-weight-bold">&nbsp;</i>
                                                                                                        @if (user != null)
                                                                                                        {
                                                                                                            if (item.work_pricemin == 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Thỏa thuận</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin == 0 && item.work_pricemax != 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                            else if (item.work_pricemin != 0 && item.work_pricemax == 0)
                                                                                                            {
                                                                                                                <span class="text-primary">Trên @item.work_pricemin @item.work_symbol</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="text-primary">@item.work_pricemin - @item.work_pricemax @item.work_symbol</span>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <span class="text-primary">Đăng nhập</span>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="float-right"><i class="fa fa-map-marker-alt text-primary font-weight-bold">&nbsp;</i>Bình Dương</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<style>
    #mydiv {
        position: fixed;
    }

    .nav-pills .nav-link {
        color: black;
    }
</style>
<!--Modal-->
@if (user != null)
{

}
else
{
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary shadow border-0 mb-0">
                        <div class="card-header bg-white" style="background-image: url('../../Content/Layout/images/login.jpg'); background-repeat: no-repeat; background-size: 100% 100%">
                            <div class="text-muted text-center mb-3">
                                <small>Đăng nhập để nộp hồ sơ vào công việc này</small>
                            </div>
                            <div class="btn-wrapper text-center">
                                <a href="javascript:;" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <img src="~/Content/UI/assets/img/icons/common/github.svg">
                                    </span>
                                    <span class="btn-inner--text">Facebook</span>
                                </a>
                                <a href="javascript:;" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <img src="~/Content/UI/assets/img/icons/common/google.svg">
                                    </span>
                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body px-lg-5" style="background-color: #151965">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Tabs with icons -->
                                    <div class="nav-wrapper">
                                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0 @(Session["active"] == null ? "active" : "")" style="border-bottom: 2px solid white" id="res-tab" data-toggle="tab" href="#loginUser" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fas fa-sign-in-alt">&nbsp;</i>ĐĂNG NHẬP</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" style="border-bottom: 2px solid white" data-toggle="tab" href="#ress" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-user">&nbsp;</i>ĐĂNG KÝ</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade @(Session["active"] == null ? "show active" : "")" id="loginUser" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                                    <script>
                                                        function validateForm() {
                                                            // Bước 1: Lấy giá trị của username và password
                                                            var user_email = document.getElementById('user_email').value;
                                                            var user_pass = document.getElementById('user_pass').value;
                                                            // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
                                                            if (user_email == '' && user_pass == '') {
                                                                document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Bạn chưa nhập email và mật khẩu.</b></div>"
                                                            }
                                                            else if (user_pass == '') {
                                                                document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Bạn chưa nhập mật khẩu.</b></div>"
                                                            }
                                                            else if (user_email == '') {
                                                                document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Bạn chưa nhập email.</b></div>"
                                                            }
                                                            else {
                                                                return true;
                                                            }
                                                            return false;
                                                        }
                                                    </script>
                                                    <form role="form" action="@Url.Action("LoginModal","Account")" method="post" onsubmit="return validateForm()">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-sm-6 mt-1">
                                                                <div id="testlogin" class="mt-2">

                                                                </div>
                                                                @Html.Raw(Session["NotLogin"])
                                                                <div class="form-input mt-55">
                                                                    <div class="input-items active">
                                                                        <input type="text" placeholder="Email" class="form-control" style="border: 2px solid #151965" name="user_email" id="user_email">
                                                                        <i class="lni-user" style="color:#151965"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-sm-6 mt-1">
                                                                <div class="form-input mt-55">
                                                                    <div class="input-items active">
                                                                        <input type="password" placeholder="Mật khẩu" class="form-control" style="border: 2px solid #151965" name="user_pass" id="user_pass" )">
                                                                        <i class="lni-key" style="color:#151965"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-sm-6 mt-1">
                                                                <div class="ml-4">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                                                            <label class="custom-control-label" for=" customCheckLogin">
                                                                                <span>Nhớ mật khẩu</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <a href="#">Quên mật khẩu?</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-sm-6 mt-1">
                                                                <button type="submit" class="btn btn-danger w-100 mt-1">Đăng nhập</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="tab-pane fade @(Session["active"] == null ? "" : "show active")" id="ress" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                                    <script>
                                                        function valiRes() {
                                                            // Bước 1: Lấy giá trị của username và password
                                                            var user_emailres = document.getElementById('user_emailres').value;
                                                            var user_nicename = document.getElementById('user_nicename').value;
                                                            var user_passres = document.getElementById('user_passres').value;
                                                            var user_rpass = document.getElementById('user_rpass').value;
                                                            // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
                                                            if (user_emailres == '' && user_passres == '' && user_nicename == '' && user_rpass == '') {
                                                                document.getElementById("testRes").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Tất cả các trường chưa được nhập, vui lòng nhập đầy đủ thông tin.</b></div>"
                                                            }
                                                            else if (user_emailres == '') {
                                                                document.getElementById("testRes").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Vui lòng nhập email.</b></div>"
                                                            }
                                                            else if (user_nicename == '') {
                                                                document.getElementById("testRes").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Vui lòng nhập tên hiển thị.</b></div>"
                                                            }
                                                            else if (user_passres == '') {
                                                                document.getElementById("testRes").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Bạn chưa nhập mật khẩu.</b></div>"
                                                            }
                                                            else if (user_rpass == '') {
                                                                document.getElementById("testRes").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Bạn chưa xác nhận mật khẩu.</b></div>"
                                                            }
                                                            else if (user_passres != user_rpass) {
                                                                document.getElementById("testRes").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fas fa-times-circle' style='color: red'>&nbsp;</i>Xác nhận mật khẩu không đúng.</b></div>"
                                                            }
                                                            else {
                                                                return true;
                                                            }
                                                            return false;
                                                        }
                                                    </script>
                                                    <form role="form" action="@Url.Action("Regist","Account")" method="post" onsubmit="return valiRes()">
                                                        <div class="row">
                                                            @Html.Raw(Session["user_exist"])
                                                            <div id="testRes" class="mt-2">

                                                            </div>
                                                            <div class="col-lg-6 col-sm-6 mt-1">
                                                                <div class="form-input mt-55">
                                                                    <div class="input-items active">
                                                                        <input type="text" placeholder="Email" class="form-control" style="border: 2px solid #151965" name="user_email" id="user_emailres">
                                                                        <i class="lni-envelope" style="color:#151965"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-sm-6 mt-1">
                                                                <div class="form-input mt-55">
                                                                    <div class="input-items active">
                                                                        <input type="text" placeholder="Tên hiển thị" class="form-control" style="border: 2px solid #151965" name="user_nicename" id="user_nicename">
                                                                        <i class="lni-user" style="color:#151965"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-sm-6 mt-1">
                                                                <div class="form-input mt-55">
                                                                    <div class="input-items active">
                                                                        <input type="password" placeholder="Mật khẩu" class="form-control" style="border: 2px solid #151965" id="user_passres" name="user_pass">
                                                                        <i class="lni-key" style="color:#151965"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-sm-6 mt-1">
                                                                <div class="form-input mt-55">
                                                                    <div class="input-items active">
                                                                        <input type="password" placeholder="Nhập lại mật khẩu" class="form-control" style="border: 2px solid #151965" id="user_rpass">
                                                                        <i class="lni-key" style="color:#151965"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-sm-6 mt-1">
                                                                <div class="ml-4">
                                                                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                                                    <label class="custom-control-label" for=" customCheckLogin">
                                                                        <span>Chấp nhận <a href="#">điểu khoản</a> và <a href="#">chính sách bảo mật</a></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-sm-6 mt-1">
                                                                <button type="submit" class="btn btn-danger w-100 mt-1">Đăng ký</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="submitcv" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document" style="max-width: 1200px;z-index: 1900000000 !important">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0 mb-0">
                    @{
                        String radio = "customRadio";
                        int number = 1;
                        int i = 1;
                        String id_num = "hscv";
                    }
                    <form action="@Url.Action("SubmitCV","Button")" method="post">
                        <div class="card-header bg-white">
                            @if (user != null)
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2 class="text-center">Chọn hồ sơ nộp</h2>
                                        <input type="hidden" value="@Model.work_id" name="work_id" />
                                        <hr />
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #fc7c5f">
                                            <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
                                            <span class="alert-inner--text"><strong>Chào @user.user_nicename!</strong> Chọn hồ sơ để nộp cho nhà tuyển dụng @Model.Employer.employer_company!</span>
                                        </div>
                                    </div>
                                    @foreach (var item in db.Cvs.Where(n => n.cv_activate == true && n.cv_option == true && n.user_id == user.user_id).OrderByDescending(n => n.cv_datecreated).ToList())
                                    {
                                        <div class="col-lg-6 mt-3">
                                            <div class="row no-gutters">
                                                <div class="col-md-5">
                                                    <img src="~/Images/User/32644928_2062295167425734_7686714948314988544_o.jpg" class="card-img" alt="..." style="height: 100%">
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@item.cv_fullname</h5>
                                                        <p class="card-text">
                                                            <ul>
                                                                <li><i class="fa fa-mail-bulk">&nbsp;</i>@item.cv_email</li>
                                                                <li><i class="fas fa-university">&nbsp;</i>@item.cv_schools</li>
                                                                <li><i class="fab fa-accusoft"></i>@item.cv_location</li>
                                                                <li><i class="fa fa-calendar">&nbsp;</i>@item.cv_datecreated</li>
                                                                <li><button type="button" class="btn btn-sm btn-primary btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Sửa hồ sơ @id_num@item.cv_id</button></li>
                                                            </ul>
                                                        </p>
                                                        <p class="card-text"><small class="text-muted">Mã hồ sơ: #@id_num@item.cv_id</small></p>
                                                        <div class="custom-control custom-radio">
                                                            <input name="cv_id" class="custom-control-input" id="@radio@i" type="radio" value="@item.cv_id">
                                                            <label class="custom-control-label" for="@radio@i">
                                                                <span>#@id_num@item.cv_id</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Nộp hồ sơ</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
@if (user != null)
{
    {
        List<Submit> submits = db.Submits.Where(n => n.user_id == user.user_id && n.work_id == Model.work_id).ToList();
        ViewBag.submits = submits.Count;
    }
    if (ViewBag.submits != 0)
    {
        <div class="modal fade" id="note" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 700px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thông báo từ công ty @Model.Employer.employer_company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-danger">Bạn đã nộp hồ sơ thành công cho công ty @Model.Employer.employer_company!</div>
                        @{
                            List<Submit> submits = db.Submits.Where(n => n.user_id == user.user_id && n.work_id == Model.work_id).ToList();
                        }
                        @foreach (var item in submits)
                        {
                            <ul>
                                <li><b>Mẫu hồ sơ đã nộp:</b> #@id_num@item.cv_id <a href="#">Xem hồ sơ</a></li>
                                <li><b>Ngày nộp:</b> @item.submit_datecreated</li>
                                <li><b>Tình trạng:</b> Chưa phản hồi</li>
                                <hr />
                                <li>
                                    <div class="col-lg-12 mt-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-5">
                                                <img src="~/Images/User/32644928_2062295167425734_7686714948314988544_o.jpg" class="card-img" alt="..." style="height: 100%">
                                            </div>
                                            <div class="col-md-7">
                                                <div class="card-body">
                                                    <h5 class="card-title">@item.Cv.cv_fullname</h5>
                                                    <p class="card-text">
                                                        <ul>
                                                            <li><i class="fa fa-mail-bulk">&nbsp;</i>@item.Cv.cv_email</li>
                                                            <li><i class="fas fa-university">&nbsp;</i>@item.Cv.cv_schools</li>
                                                            <li><i class="fab fa-accusoft"></i>@item.Cv.cv_location</li>
                                                            <li><i class="fa fa-calendar">&nbsp;</i>@item.Cv.cv_datecreated</li>
                                                            <li><button type="button" class="btn btn-sm btn-primary btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Sửa hồ sơ @id_num@item.cv_id</button></li>
                                                        </ul>
                                                    </p>
                                                    <p class="card-text"><small class="text-muted">Mã hồ sơ: #@id_num@item.cv_id</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <br />
                                <li><button type="button" class="btn btn-sm btn-danger btn-tooltip w-100" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true" onclick="window.location.href='@Url.Action("WorkUser","Work")'">Quản lý nộp hồ sơ</button></li>
                            </ul>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {

    }
}
<script>
    $(document).ready(function () {
        $('#note').modal('show');
    })
</script>
@if (Session["NotLogin"] != null)
{
    <script>
        $(document).ready(function () {
            $('#login').modal('show');
        })
    </script>
}
else if (Session["active"] != null)
{
    <script>
        $(document).ready(function () {
            $('#login').modal('show');
        })
    </script>
}
else
{

}